/* FOOTER */

@use "./variables" as*;

footer {
  background-color: #212121;
  color: #f0f0f0;
  text-align: center;
  padding: 1.5rem 0;
  width: 100%;

  //Enlaces
  a {
    color: #f0f0f0;
    padding: 0 1rem;
    text-decoration: none;
    border-left: 1px solid white;
    &:first-child {
      border-left: none;
    }
    &:hover {
      color: $lightblue-color;
    }
  }

  //Iconos de redes
  .footer-icons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1rem;
    a {
      border-left: none;

      i {
        font-size: 24px;
        color: white;
        transition:
          color 0.5s ease,
          transform 0.3s ease2;
      }
        &:hover {
          transform: translateY(-5px);
        }
        &:hover i {
          color: $lightblue-color;
        }
      }
    }
  //Texto
  p {
    margin: 0.5rem 0;
  }
  .footer-links {
    margin-top: 0.5rem;
  }
}